REPO_URL=https://your-repo-url.com
REPO_USERNAME=your-username
REPO_TOKEN=your-token
REPO_BRANCH=your-branch
COMPOSE_PATH=your-compose-path
SERVICE_NAMES=

# docker
DOCKER_SOCK=unix:///var/run/docker.sock
DOCKER_USERNAME=your-username
DOCKER_PASSWORD=your-password
DOCKER_REGISTRY=your-registry