[data-md-color-scheme="slate"] {
    --md-default-bg-color: #000000;
    --md-default-fg-color: #ffffff;
    --md-typeset-h1-color: #404040;
    --md-typeset-h2-color: #404040;
    --md-typeset-h3-color: #404040;
    --md-code-bg-color: #1c1c1c;
}
